CREATE TABLE IF NOT EXISTS "Admins" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Admins" PRIMARY KEY AUTOINCREMENT,

    "Username" TEXT NOT NULL,

    "PasswordHash" TEXT NOT NULL,

    "CreatedAt" TEXT NOT NULL

);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "Items" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Items" PRIMARY KEY AUTOINCREMENT,

    "TextAr" TEXT NOT NULL,

    "Type" TEXT NOT NULL,

    "DimensionTags" TEXT NOT NULL,

    "Difficulty" INTEGER NOT NULL,

    "TimeLimitSeconds" INTEGER NOT NULL,

    "MaxScore" INTEGER NOT NULL,

    "CorrectAnswer" TEXT NULL,

    "Options" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "Users" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Users" PRIMARY KEY AUTOINCREMENT,

    "NationalId" TEXT NOT NULL,

    "FullName" TEXT NOT NULL,

    "BirthDate" TEXT NULL,

    "Age" INTEGER NULL,

    "Gender" TEXT NULL,

    "City" TEXT NULL,

    "Mobile" TEXT NULL,

    "Email" TEXT NULL,

    "Education" TEXT NULL,

    "Occupation" TEXT NULL,

    "CreatedAt" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "ItemParameters" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ItemParameters" PRIMARY KEY AUTOINCREMENT,

    "ItemId" INTEGER NOT NULL,

    "ModelType" TEXT NOT NULL,

    "A" REAL NULL,

    "B" REAL NULL,

    "C" REAL NULL,

    "ThresholdsJson" text NULL,

    "PcmStepsJson" text NULL,

    "TimeAlpha" REAL NULL,

    "TimeBeta" REAL NULL,

    "CreatedAt" TEXT NOT NULL,

    CONSTRAINT "FK_ItemParameters_Items_ItemId" FOREIGN KEY ("ItemId") REFERENCES "Items" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "AuditLogs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_AuditLogs" PRIMARY KEY AUTOINCREMENT,

    "Action" TEXT NOT NULL,

    "UserId" INTEGER NULL,

    "IpAddress" TEXT NULL,

    "Details" text NULL,

    "CreatedAt" TEXT NOT NULL,

    CONSTRAINT "FK_AuditLogs_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE SET NULL

);
CREATE TABLE IF NOT EXISTS "Sessions" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Sessions" PRIMARY KEY AUTOINCREMENT,

    "UserId" INTEGER NOT NULL,

    "StartedAt" TEXT NOT NULL,

    "EndedAt" TEXT NULL,

    "Status" TEXT NOT NULL DEFAULT 'InProgress',

    CONSTRAINT "FK_Sessions_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "Results" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Results" PRIMARY KEY AUTOINCREMENT,

    "SessionId" INTEGER NOT NULL,

    "TotalScore" INTEGER NOT NULL,

    "PdfPath" TEXT NULL,

    "DimensionScoresJson" text NULL,

    "CompositeScoresJson" text NULL,

    "ScoringModelVersion" TEXT NULL,

    "CreatedAt" TEXT NOT NULL,

    CONSTRAINT "FK_Results_Sessions_SessionId" FOREIGN KEY ("SessionId") REFERENCES "Sessions" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "SessionItems" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_SessionItems" PRIMARY KEY AUTOINCREMENT,

    "SessionId" INTEGER NOT NULL,

    "ItemId" INTEGER NOT NULL,

    "Answer" TEXT NULL,

    "Score" INTEGER NULL,

    "AnsweredAt" TEXT NULL,

    "ResponseTimeMs" INTEGER NULL,

    "RawCorrect" INTEGER NULL,

    CONSTRAINT "FK_SessionItems_Items_ItemId" FOREIGN KEY ("ItemId") REFERENCES "Items" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_SessionItems_Sessions_SessionId" FOREIGN KEY ("SessionId") REFERENCES "Sessions" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "AIJobs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_AIJobs" PRIMARY KEY AUTOINCREMENT,

    "ResultId" INTEGER NOT NULL,

    "Status" TEXT NOT NULL DEFAULT 'Pending',

    "Response" TEXT NULL,

    "CreatedAt" TEXT NOT NULL,

    CONSTRAINT "FK_AIJobs_Results_ResultId" FOREIGN KEY ("ResultId") REFERENCES "Results" ("Id") ON DELETE CASCADE

);
CREATE UNIQUE INDEX "IX_Admins_Username" ON "Admins" ("Username");
CREATE INDEX "IX_AIJobs_ResultId" ON "AIJobs" ("ResultId");
CREATE INDEX "IX_AuditLogs_CreatedAt" ON "AuditLogs" ("CreatedAt");
CREATE INDEX "IX_AuditLogs_UserId" ON "AuditLogs" ("UserId");
CREATE UNIQUE INDEX "IX_ItemParameters_ItemId" ON "ItemParameters" ("ItemId");
CREATE INDEX "IX_Results_CreatedAt" ON "Results" ("CreatedAt");
CREATE UNIQUE INDEX "IX_Results_SessionId" ON "Results" ("SessionId");
CREATE INDEX "IX_SessionItems_ItemId" ON "SessionItems" ("ItemId");
CREATE INDEX "IX_SessionItems_SessionId" ON "SessionItems" ("SessionId");
CREATE INDEX "IX_Sessions_UserId" ON "Sessions" ("UserId");
CREATE UNIQUE INDEX "IX_Users_NationalId" ON "Users" ("NationalId");
